<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <div id="hero-image"></div>
    <div id="hero-text">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders <br>Superman doors <br>Fuzzy dice!</p>
        <button id="hero-button">Own Today</button>
    </div>
</div>

<div id="main">
    <section id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it!" (5/5)</li>
        </ul>
    </section>
    <section id="upgrades">
        <h2>Delorean Upgrades</h2>
        <ul>
            <li>
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <a href="#">Flux Capacitor</a>
            </li>
            <li>
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <a href="#">Flame Decals</a>
            </li>
            <li>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <a href="#">Bumper Stickers</a>
            </li>
            <li>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <a href="#">Hub Caps</a>
            </li>
        </ul>
    </section>
</div>