/******* Change Box Model ***************/
:root {
  --primary-color: #99E1D9;
  --secondary-color: #32292F;
  --accent-color: #70ABAF;
  --background-color: #F0F7F4;
  --paragraph-font: 'Lusitana', serif;
  --header-font: 'Sansation', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
  font-size: 20px;
}
/******* Header ***************/
#top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.siteName a{
  font-size: 1.8rem;
  padding: 1rem;
  font-family: var(--header-font);
}
#tools {
  padding: 1rem;
}

/******* Navigation ***************/
.navigation {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.navigation li {
  list-style: none;
  flex: 1 1 auto;
  text-align: center;
}
.navigation a, .navigation :visited {
  color: var(--background-color);
  text-decoration: none;
  display: block;
  padding: .8rem;
}
.navigation li:hover , .navigation :hover :visited {
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--secondary-color);
}

/******* Main Content ***************/
h1 {
  margin: 1.5rem;
  font-family: var(--header-font);
  font-size: 1.5rem;
}
h2 {
  font-family: var(--header-font);
  font-size: 1.2rem;
  padding: 0.3rem;
}
#hero {
  position: relative;
}
#hero-image {
    background-image: url('../images/vehicles/delorean.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
} 
#hero-text {
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
#hero-text button {
  background-color: var(--primary-color);
  padding: .5rem;
  border: none;
  border-radius: 5px;
}

#main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#reviews, #upgrades {
  margin: 1rem;
}
#reviews ul{
  list-style-position: inside;
}
#reviews li {
  padding: .5rem;
}

#upgrades ul{
  display: flex;
  flex-wrap: wrap;
}
#upgrades li {
  list-style: none;
  flex: 1 0 150px;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  padding: .5rem;
}
#upgrades img {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  padding: 1rem 3.5rem 1rem;
}
footer {
  margin: 1rem;
}

/******* Classification View ***************/
#inv-display{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  flex-wrap: wrap;
}
#inv-display li {
  list-style: none;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  flex: 0 1 240px;
  margin: 1rem;
  height: 300px;
}
#inv-display img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
hr {
  border: 3px solid var(--secondary-color);
  margin: .5rem 0;
}
.namePrice h2{
  padding: .8rem;
}

/******* Vehicle Detail View ***************/
#vehicleDetail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#vehicleDetail img {
  width: 100%;
  height: auto;
  padding: 1rem;
}
#vehicleDetail section {
  margin: 1rem;
}
strong {
  color: var(--secondary-color);
  font-size: 1.2rem;
}
td {
  padding: .2rem;
}
tr:nth-child(odd) {
  background-color: rgba(230, 230, 230, 0.888);
}

/******* Error View ***************/
#error {
  position: relative;
  margin: 1rem;
}
#error img {
  width: 100%;
  height: auto;
  opacity: 50%;
}
#error p {
  position: absolute;
  top: 5%;
  left: 3%;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
}

/******* Messages ***************/
.notice {
  list-style-position: inside;
  margin-left: 2rem;
  color: red;
}

/******* Forms ***************/
form {
  margin: 1rem;
  background-color: var(--accent-color);
  padding: 1rem;
  max-width: 400px;
  width: 100%;
  justify-self: center;
}
input, textarea, select{
  display: block;
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}
input[type="submit"] {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
  padding: .8rem;
  max-width: 250px;
  margin-bottom: .5rem;
  justify-self: center;
}
input[type="submit"]:disabled {
  background-color: #99e1d9ac;
  border: 1px solid rgb(83, 83, 83);
  color: rgb(83, 83, 83);
  cursor: not-allowed;
}
form p {
  justify-self: center;
}
input:required:invalid, input:focus:invalid {
  border: 2px solid red;
}
input:required:valid {
  border: 2px solid rgb(0, 220, 0);
}
form span {
  font-size: 16px;
}
select {
  width: 350px;
}
/******* Management View ***************/
#management {
  list-style-position: inside;
  margin: 1rem;
  padding-left: 1rem;
}

#invManagement{
  margin: 1rem;
}
#invManagement div{
  margin-left: 1rem;
}

#inventoryDisplay {
  margin: 1rem;
  border: 1px solid var(--secondary-color);
}

#inventoryDisplay th, #inventoryDisplay td {
  padding: .7rem;
}