@media screen and (min-width: 640px) {
  body {
    background-image: url('../images/site/small_check.jpg');
    padding: 2rem 5rem 2rem;
  }
  #hero-image {
    height: 600px;
  }
  #wrapper {
    background-color: white;
    border: 8px solid var(--primary-color);
    border-radius: 20px;
  }
  #main {
    flex-direction: row-reverse;
    flex-wrap: nowrap;;
  }
  #reviews, #upgrades {
    flex: 1;
    margin: .5rem 0 0 1rem;
  }

/******* Vehicle Detail View ***************/
  #vehicleDetail {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
  }
}