<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<ul id="management">
    <li><a href="/inv/addClass" title="Add New Classification">Add New Classification</a></li>
    <li><a href="/inv/addInventory" title="Add New Inventory">Add New Inventory</a></li>
</ul>

<section id="invManagement">
  <h2>Manage Inventory</h2>
  <div>
    <p>Select a Classification from the list.</p>
    <%- classList %>
    <table id="inventoryDisplay"></table>
  </div>
</section>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>