<%# Content Heading %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<div id="error">
  <img src="/images/site/error_view.jpg" alt="Error View">
  <p><%- message %></p>
</div>